.App {
  width: 50%;
  margin: 0 auto;
}
.modal-backdrop.show{
  background-color: rgb(142, 189, 138);
}
.modal-content{
  height: 250px;
  border-radius: 15px;
}
.content{
  width: 300px;
  word-wrap: break-word;
}