.App {
  width: 50%;
  margin: 0 auto;
}
.sign{
  font-family: sans-serif;
  font-weight: 600;
  position: absolute;
  bottom: 50px;
  right: 10%;
}
.modal-backdrop.show{
  background-color: rgb(142, 189, 138);
}
.modal-content{
  height: 250px;
  border-radius: 15px;
}
.content{
  width: 300px;
  word-wrap: break-word;
}